#absl-py
#astor==0.8.1
#cycler==0.10.0
#Cython==0.29.15
#gast==0.2.2
#google-pasta==0.1.8
#grpcio
#Keras-Preprocessing==1.1.0
#kiwisolver==1.1.0
#Markdown==3.2.1
matplotlib
numpy
object-detection-0.1==0.1 
opencv-python
#opt-einsum==3.2.0
Pillow
protobuf
#pyparsing==2.4.6
#python-dateutil==2.8.1
six
#tensorboard
tensorflow
#tensorflow-estimator
#termcolor==1.1.0
#Werkzeug
#wrapt==1.12.0
